$category-name-font-size = 1.5rem

.category-archive-container {

  keep-container(1, 2rem, 2rem)

  .category-name {
    margin-bottom var(--component-gap)
    color var(--text-color-2)
    font-weight 600
    font-size $category-name-font-size

    i {
      color var(--text-color-2)
    }

    +keep-tablet() {
      font-size $category-name-font-size * 0.9
    }

    +keep-mobile() {
      font-size $category-name-font-size * 0.8
    }
  }
}
