.error-404-container {
  disable-user-select()

  .text-1 {
    width 100%
    height 8rem
    color var(--text-color-3)
    font-weight 600
    font-size 8rem
  }

  .text-2 {
    width 100%
    height 3rem
    color var(--text-color-4)
    font-size 2rem
    letter-spacing 1.2px
  }

  .text-3 {
    width 100%
    height 4rem

    .go-home {
      position relative
      box-sizing border-box
      padding 0.3rem 0.8rem
      color var(--text-color-3)
      font-size 1rem
      background transparent
      border-color var(--text-color-3)
      border-style solid
      border-width 0.1rem
      border-radius 0.6rem
      cursor pointer

      &:hover {
        color var(--primary-color)
        border-color var(--primary-color)
      }
    }
  }
}
