@require "./common/magic-theme.styl";

.about-container {

  background: var(--background-color);

  magic-container(1.005, 1.01, 30px);

  +ils-tablet() {
    magic-container(1.001, 1.005, 20px);
  }

  .about-content {

    h1, h2, h3, h4, h5, h6 {

      &:first-child {
        margin-top: 0;
      }

    }

    margin-bottom: 30px;

    +ils-tablet() {
      margin-bottom: 20px;
    }
  }
}