@require 'variables.styl'

$archive-year-font-size = 24px;
$archive-article-item-title-font-size = 16px;
$archive-article-date-font-size = 14px;

.archive-container {

  .archive-item {
    margin-bottom: 20px;

    .archive-year {
      font-size: $archive-year-font-size;
      color: $article-title-color;
      font-weight: 600;
    }

    .article-list {
      padding-left: 10px;

      .article-item {
        margin: 10px 0;
        font-size: $archive-article-item-title-font-size;

        a.article-title {
          color: $archive-article-title-color;

          &:hover {
            color: $a-hover-color;
          }
        }

        .article-date {
          font-size: $archive-article-date-font-size;
          float: right;
        }
      }
    }
  }
}


