@require "./common/magic-theme.styl";

.archive-container {
  background: var(--background-color);
  magic-container(1.005, 1.01, 30px);

  +ils-tablet() {
    magic-container(1.001, 1.005, 20px);
  }
}


