@require 'variables.styl'

$archive-year-font-size = 24px;

.archive-container {

  .archives-wrap {
    margin-bottom 20px

    .archive-year {
      font-size: $archive-year-font-size;
      color: $article-title-color ;
      font-weight: 600;
    }

    .archive-article-list {

      .archive-article-item {
        margin 10px 0
        font-size 16px

        a.archive-article-title {
          color $archive-article-title-color

          &:hover {
            color: $a-hover-color;
          }
        }

        .archive-article-date {
          float right
        }
      }
    }
  }
}


