@require 'common/variables.styl'

.article-content-container {

  background: var(--background-color);

  if (hexo-config('magic.enable') == true) {
    box-shadow: 0 0 3px var(--border-color);
    padding: 30px;
    transition: all 0.3s ease;
    border-radius: 2px;

    &:hover {
      box-shadow: 0 0 8px var(--border-color);
      transform: scaleX(1.008) scaleY(1.004);
    }
  }

  .article-title {

    h3 {
      font-weight: 600;
      font-size: 1.8em;
      margin: 0;
    }

    a {
      color: var(--second-text-color);
    }

  }

  .meta-info {
    margin: 10px 0 30px 0;
  }

  .article-content {
    text-align: justify;
    padding-bottom: 30px;
    border-bottom: 1px solid $border-color;
  }


  .article-nav {
    height 40px
    margin 40px 0

    .article-prev {
      float left
    }

    .article-next {
      float right
    }

  }

}
