@require 'variables.styl'
@require 'common/animated.styl'

html, body {
  margin: 0;
  padding: 0;
  color: $default-font-color;
  background: $background-color;
  font-size: $default-font-size;
  font-family: $default-font-family;
  font-weight: $default-font-weight;
  -webkit-font-smoothing antialiased;
}

ul, li, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  cursor: pointer;
}

p {
  line-height: 2em;
}

a {
  text-decoration: none;
  color: $a-color;
}

a:hover, a:active {
  color: $a-hover-color;
}


// 预设的按钮样式
.btn {
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
  color: $button-color;
  border: 1px solid $button-border-color;
  white-space: nowrap;
  border-radius: 10em;
  padding: 0.5em 1em;

  &:hover {
    color: $a-hover-color;
    border: 1px solid $a-hover-color;
  }
}

// 文章标题悬浮动画
.article-title-hover-animation {
  display: inline-block;
  position: relative;
  color: $article-title-color;
  border-bottom: none;
  line-height: 1.3;
  vertical-align: top;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $article-title-color;
    visibility: hidden;
    transform: scaleX(0);
    the-transition();
  }

  &:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}