.category-list-container {

  keep-container(1.005, 1.01, 30px, 30px);

  .category-list-content {

    .all-category-list {

      li.all-category-list-item {

        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        a.all-category-list-link {

        }

        span.all-category-list-count {

          float: right;

          &::before {
            content: '（';
          }

          &::after {
            content: '）';
          }

        }


        ul.all-category-list-child {

          margin-left: 10px;
          margin-top: 15px;

          li {

            &::before {
              content: '· ';
            }

            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }

          }
        }
      }


    }

  }
}
