.category-list-container {

  keep-container(false, 0, 0, 30px, 0)

  .category-list-content {

    .all-category-list {

      li.all-category-list-item {
        margin-bottom 15px
        font-size 1rem

        &:last-child {
          margin-bottom 0
        }

        span.all-category-list-count {
          float right
          color var(--default-text-color)


          &::before {
            content '['
          }

          &::after {
            content ']'
          }
        }


        ul.all-category-list-child {
          margin-top 15px

          margin-left 10px

          li {

            &::before {
              content '- '
            }

            margin-bottom 10px

            &:last-child {
              margin-bottom 0
            }
          }
        }
      }
    }
  }
}
