@require 'variables.styl'

.home-container {

  .article-post-list {

    .article-post-item {

      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid $border-color;

      .article-post-title {

        h3 {
          font-weight: 600;
          color: $article-title-color;
          font-size: 22px;
          margin: 0;
        }

        a {
          color: $article-title-color;
        }
      }

      .article-post-content {
        padding: 15px 0;
        line-height: 2em;
      }

    }
  }

  .paginator {

    padding-bottom: 40px;

    .page-number {
      display: none !important;
    }

    a.prev {
      float: left;
    }

    a.next {
      float: right;
    }

  }
}







