.home-content-container {
  background var(--background-color-1)


  .home-article-list {

    .home-article-item {
      position relative
      overflow hidden

      keep-container(true, 1.015, 1.015, 0, 38px)

      .home-article-item-top {
        width 100%
        height 8rem
        overflow hidden
        background-color var(--background-color-2)

        +keep-tablet() {
          height 7rem
        }

        +keep-mobile() {
          height 6rem
        }

        .cover-img {
          width 100%
          height 100%
          object-fit cover
          transform-origin center center
          transition-t("transform", "0.2", "1", "linear")

          &:hover {
            transform scale(1.04)
          }
        }
      }


      .home-article-item-bottom {
        padding 2rem

        .sticky-icon {
          position absolute
          top 0.8rem
          right 1rem
          color var(--text-color-4)
          font-size 1.2rem
          transform rotate(45deg)


          +keep-tablet() {
            font-size 1.16rem
          }
        }


        .home-article-title {
          position relative
          margin 0
          color var(--text-color-2)
          font-weight 600
          font-size 1.4rem
          line-height 1.5


          +keep-tablet() {
            font-size 1.3rem
          }


          +keep-mobile() {
            font-size 1.2rem
          }
        }


        .home-article-content {
          margin 20px 0
          color var(--text-color-3)
          text-align justify
          word-wrap break-word
        }


        .home-article-meta-info-container {
          display flex
          align-items center
          justify-content space-between
          color var(--text-color-4)
          font-size 0.88rem

          .home-article-meta-info {
            display flex
            justify-content flex-start
            letter-spacing 0.5px

            span.meta-info-item {
              display flex
              align-items center
              margin-right 1rem

              &:last-child {
                margin-right 0
              }

              ul
              li {
                display inline
              }
            }


            .home-article-category {
              .category-item {
                .category-separator {
                  margin 0 0.1rem
                }
              }

              +keep-mobile() {
                display none !important
              }
            }

            .home-article-tag {
              .tag-item {
                margin-right 0.2rem

                &:last-child {
                  margin-right 0
                }
              }

              +keep-tablet() {
                display none !important
              }
            }
          }


          .read-more {
            display flex
            align-items center
          }


          a {
            color var(--text-color-4)

            &:hover {
              color var(--primary-color)
            }
          }
        }
      }
    }
  }
}
