@require 'variables.styl'

.page-container {
  position absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  background: $background-color

  .page-left {
    float: left
    width: $left-side-width
    height: 100%
    position: fixed
  }

  .page-right {
    float: right
    width: $right-side-width
    height: 100%
    position relative
  }

  @media screen and (max-width: $media-max-width) {
    .page-left {
      display: none !important;
    }

    .page-right {
      width: 100% !important;
    }
  }

}

