@require 'variables.styl'

.right-side-container {

  width: 100%;
  height: auto;
  margin-top: $nav-height;

  .nav-container {
    position: fixed;
    top: 0;
    width: 70%;
    height: $nav-height;
    z-index: 999;
  }

  .article-post-container {
    background: $background-color;
    padding: 30px;
  }

  @media screen and (max-width: $media-max-width) {

    .nav-container {
      width: 100%;
    }


  }

}