nav-container-height = 60px;

.right-side-container {
  width: 100%;
  height: auto;
  margin-top: nav-container-height;

  .nav-container {
    width 100%
    height nav-container-height
    position: fixed;
    top: 0;
    z-index: 999;
  }

  .article-post-container {
    background: #fff
    padding 30px
  }
}