.tag-container {

  keep-container(1.02, 1.02, 30px, 30px);

  .tag-name {
    color: var(--second-text-color);
    font-size: 1.6em;

    +keep-tablet() {
      font-size: 1.5em;
    }

    +keep-mobile() {
      font-size: 1.4em;
    }

    font-weight: 600;
    padding-bottom: 20px;
    margin-bottom: $component-interspace;
    border-bottom: 1px solid var(--border-color);
  }
}
