$tag-name-font-size = 1.5rem

.tag-container {

  keep-container(1, 2rem, 2rem)

  .tag-name {
    margin-bottom var(--components-spacing)
    color var(--text-color-2)
    font-weight 600
    font-size $tag-name-font-size

    i {
      color var(--text-color-2)
    }

    +keep-tablet() {
      font-size $tag-name-font-size * 0.9
    }

    +keep-mobile() {
      font-size $tag-name-font-size * 0.8
    }
  }
}
