// 左侧宽度占比，从主题配置文件中获取
$left-side-width = hexo-config("page.left_side_width") + '%'

// 右侧宽度占比，从主题配置文件中获取
$right-side-width = hexo-config("page.right_side_width") + '%'

// 媒体查询屏幕最大宽度，从主题配置文件中获取
$media-max-width = hexo-config('page.media_max_width') px

// 背景颜色
$background-color = #fff

// 边框颜色
$border-color = #f2f2f2

// 网站LOGO标题颜色
$logo-title-color = #565656

// 网站LOGO描述颜色
$logo-description-color = #666

// 网站LOGO描述字体大小
$logo-description-font-size = #666

// 默认字体样式
$default-font-family = 'PingHei', 'PingFang SC', 'Microsoft YaHei'

// 默认字体大小
$default-font-size = 14px

// 默认字体行高
$default-font-line-height = 20px

// 默认字体加粗程度
$default-font-weight = 400

// 默认字体颜色
$default-font-color = #787878

// 文章标题颜色
$article-title-color = #666

// 归档文章标题颜色
$archive-article-title-color = #8f8f8f

// 导航栏高度
$nav-height = 60px

// 导航项选中的颜色
$nav-selected-color = #4a4a4a

// 超链接a标签颜色
$a-color = #666

// 超链接a标签悬浮颜色
$a-hover-color = #c625ce

// 按钮颜色
$button-color = $default-font-color

// 按钮边框颜色
$button-border-color = $default-font-color