<div class="post-share-container border-box">
    <ul class="share-list-wrap border-box">
        <li class="qq share-item border-box flex-center tooltip"
            data-tooltip-content="<%= __('post.share.qq') %>"
        >
            <i class="fa-brands fa-qq"></i>
        </li>
        <li class="wechat share-item border-box flex-center tooltip tooltip-img"
            data-tooltip-content="<%= __('post.share.wechat') %>"
            data-tooltip-img-name="QR-Code"
            data-tooltip-img-offset-y="-10px"
            data-tooltip-img-padding="0.6rem 0.6rem 0.1rem 0.6rem"
            data-tooltip-img-bg-color="#fff"
            data-tooltip-img-tip="<%= __('post.share.wechat_scan') %>"
        >
            <i class="fa-brands fa-weixin"></i>
        </li>
        <li class="weibo share-item border-box flex-center tooltip"
            data-tooltip-content="<%= __('post.share.weibo') %>"
        >
            <i class="fa-brands fa-weibo"></i>
        </li>
    </ul>
</div>
