<%
const { img_link, text, icon } = theme?.post?.reward || {}
%>

<div class="reward-author-container border-box flex-center">
    <div class="reward-btn border-box flex-center tooltip tooltip-img"
            data-tooltip-img-url="<%= img_link %>"
            data-tooltip-img-trigger="click"
            data-tooltip-img-style="top: -6px;"
    >
        <i class="<%= icon || 'fa-solid fa-gift' %>"></i>&nbsp;<%= (text ||  __('post.reward')).toUpperCase() %>
    </div>
</div>
