<div class="reward-author-container border-box flex-center">
    <button class="border-box tooltip-img"
            data-tooltip-img-url="<%= theme?.post?.reward?.img_link %>"
            data-tooltip-img-trigger="hover"
            data-tooltip-img-style="top: -8px;"
    >
        <i class="fa-solid fa-hand-holding-heart"></i>&nbsp;<%= theme?.post?.reward?.text ||  __('post.reward') %>
    </button>
</div>
