<div class="reward-author-container border-box flex-center">
    <button class="border-box tooltip-img"
            data-tooltip-img-url="<%= theme?.post?.reward?.img_link %>"
            data-tooltip-img-offset-y="-8px"
            data-tooltip-img-trigger="mouseover"
    >
        <i class="fa-solid fa-hand-holding-heart"></i>&nbsp;<%= __('post.reward') %>
    </button>
</div>
