<div class="reward-author-container border-box flex-center">
    <div class="reward-btn keep-button border-box flex-center tooltip tooltip-img"
            data-tooltip-content="<%= theme?.post?.reward?.text ||  __('post.reward') %>"
            data-tooltip-img-url="<%= theme?.post?.reward?.img_link %>"
            data-tooltip-img-trigger="click"
            data-tooltip-img-style="top: -8px;"
    >
        <i class="fa-solid fa-hand-holding-heart"></i>
    </div>
</div>
