<div class="fade-in-down-animation">
    <div class="error-404-container border-box">
        <div class="text-1 border-box flex-center">404</div>
        <div class="text-2 border-box flex-center">
            <%- __('page_not_found') %>
        </div>
    </div>
</div>
