<!--
 is_category() 检查当前页面是否为分类归档页面。
如果给定一个字符串作为参数，将会检查目前是否为指定分类。
-->
<% if (is_category()) { %>
    <div class="category-container">
        <div class="category-name">
            <i class="fa fa-bookmark"></i> <%- __('category') %>：<%= page.category %> [<%= page.posts.length %>]
        </div>
    </div>
    <%- partial('archive-post') %>
<% } %>