<div class="fade-in-down-animation">
    <div class="category-container">
        <div class="category-name">
            <i class="fa fa-folder"></i> <%- __('category') %>：<%= page.category %> [<%= page.posts.length %>]
        </div>
        <%- partial('_partial/archive-list', {posts_new: page.posts}) %>
    </div>
</div>
