<div class="fade-in-down-animation">
    <div class="category-list-container">
        <% if (site.categories.length > 0) { %>
            <div class="category-list-content">
                <%- list_categories(site.categories, {
                    class: 'site-all-category'
                }) %>
            </div>
        <% } else { %>
            <%- partial('_partial/common/empty-content') %>
        <% } %>
        <% if (page?.comment === true) { %>
            <%- partial('_partial/comment/comment') %>
        <% } %>
    </div>
</div>
