<footer id="footer">
    <div class="footer-info">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
        <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
</footer>