<!-- hexo 启动时，默认从 layout（入口）找 index 页面 -->
<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('head') %>
<body>
<!-- body 表示可以显示其他页面内容（归档页面等等） -->
<%- body %>
<%- partial('scripts') %>
</body>
</html>