<div class="page-container">
    <div class="page-left animated">
        <%- partial('common/left-side') %>
    </div>
    <div class="page-right">
        <%- partial('right-side') %>
    </div>
</div>