<div class="page-template">
    <div class="page-top">
        <%- partial('_partial/header') %>
    </div>
    <div class="page-middle">
        <%- partial('_partial/page-main') %>
    </div>
    <div class="page-bottom">
        <%- partial('_partial/footer') %>
    </div>
</div>