<div class="right-side-container">
    <div class="nav-container">
        <%- partial('common/nav') %>
    </div>
    <div class="article-post-container">
        <%- partial('common/article-post') %>
    </div>
</div>