<div class="right-side-container">
    <div class="nav-container">
        <%- partial('common/nav') %>
    </div>
    <div class="article-post-container">
        <% if (is_archive()) { %>
            <!-- 载入归档页内容 -->
            <%- partial('common/archive-post') %>
        <% } else { %>
            <!-- 载入首页内容 -->
            <%- partial('common/article-post') %>
        <% } %>
    </div>
</div>