<div class="fade-in-down-animation">
    <div class="tag-container">
        <div class="tag-name"><i class="fa fa-tag"></i> <%- __('tag') %>：<%= page.tag %> [<%= page.posts.length %>]
        </div>
        <%- partial('_partial/archive-list', {posts_new: page.posts}) %>
    </div>
</div>