.reward-author-container {
  margin-top 1.6rem

  .tooltip-img {
    .tooltip-img-box {
      img {
        max-height 13rem
      }
    }
  }


  .reward-btn {
    padding 0.6rem 1rem
    color var(--text-color-3)
    font-size 1rem
    background -webkit-linear-gradient(0deg, var(--keep-primary-color) 15%, var(--keep-danger-color), var(--keep-warning-color), var(--keep-success-color), var(--keep-primary-color))
    -webkit-background-clip text
    background-clip text
    border-radius 0.8rem
    box-shadow 0 0 0.4rem var(--shadow-color)
    cursor pointer

    &:hover {
      font-weight bold
      -webkit-text-fill-color transparent
    }


    i {
      color var(--text-color-3)
    }
  }
}
