.reward-author-container {
  margin-top 2rem

  .tooltip-img {
    .tooltip-img-box {
      img {
        max-height 12rem
      }
    }
  }


  .reward-btn {
    width 3rem
    height 3rem
    border-radius 50%

    i {
      font-size 1.2rem
    }
  }
}
