.reward-author-container {
  margin-top 2rem

  .tooltip-img {
    .tooltip-img-box {
      img {
        max-height 12rem
      }
    }
  }


  .reward-btn {
    width 2.6rem
    height 2.6rem
    border-radius 50%

    i {
      font-size 1rem
    }
  }
}
