$archive-year-font-size = 1.8rem
$archive-year-count-font-size = 1.2rem
$article-title-font-size = 1.2rem
$article-date-font-size = 1rem

.archive-list-container {

  .archive-item {
    margin-bottom $component-spacing-value

    &:last-child {
      margin-bottom 0
    }

    .archive-item-header {
      margin-bottom 0.8rem

      .archive-year {
        margin-right 6px
        color var(--text-color-2)
        font-weight 600
        font-size $archive-year-font-size

        +keep-tablet() {
          font-size $archive-year-font-size - 0.2rem
        }
      }


      .archive-year-post-count {
        color var(--text-color-2)
        font-weight 500
        font-size $archive-year-count-font-size

        +keep-tablet() {
          font-size $archive-year-count-font-size * 0.9
        }
      }
    }


    .article-list {

      padding-left 0.8rem

      +keep-tablet() {
        padding-left 0
      }

      .article-item {
        margin-top 1.2rem
        font-size 1rem

        +keep-tablet() {
          margin-top 1.1rem
        }

        +keep-mobile() {
          margin-top 1rem
        }

        &:hover {
          a.article-title
          .article-date {
            color var(--primary-color)
          }
        }


        a.article-title {
          color var(--text-color-3)
        }

        .article-date {
          float right
          color var(--text-color-3)
          font-size $article-date-font-size
        }
      }
    }
  }
}


