.article-copyright-info-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background: var(--second-background-color);
  padding: 6px 6px 6px 16px;
  font-size: 0.98em;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 6px;
    height: 100%;
    background: #dd0c0c;
  }

  ul {

    li {
      margin-bottom: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
