.article-copyright-info-container {
  position relative
  box-sizing border-box
  width 100%
  overflow hidden
  font-size 1rem
  background var(--background-color-2)

  &::after {
    position absolute
    top 0
    left 0
    width 0.5rem
    height 100%
    background var(--copyright-info-color)
    content ''
  }


  .copyright-info-content {
    position relative
    box-sizing border-box
    padding 0.8rem 0.8rem 0.8rem 1.3rem
    overflow-x auto

    &::-webkit-scrollbar {
      width 0.4rem
      height 0.4rem
      transition all 0.2s ease
    }

    &::-webkit-scrollbar-thumb {
      background var(--text-color-4)
    }

    &::-webkit-scrollbar-track {
      background transparent
    }

    li {
      margin-bottom 0.4rem
      color var(--text-color-3)
      white-space nowrap

      .type
      .content {
        color var(--text-color-3)
      }

      .license {
        font-weight bold
      }

      &:last-child {
        margin-bottom 0
      }
    }
  }
}
