$home-page-font-size = 0.92rem
$post-page-font-size = 0.86rem


.article-meta-info-container {
  color var(--text-color-4)

  &.post {
    font-size $post-page-font-size

    i.icon
    i.fas {
      font-size $post-page-font-size
    }
  }


  &.home {
    display flex
    align-items center
    justify-content space-between
    font-size $home-page-font-size

    i.icon
    i.fas {
      font-size $home-page-font-size
    }
  }


  a {
    color var(--text-color-4)

    &:hover {
      color var(--primary-color)
    }
  }



  .article-meta-info {
    display flex
    flex-wrap wrap
    justify-content flex-start
    letter-spacing 0.6px

    .meta-info-item {
      display flex
      align-items center
      justify-content flex-start
      box-sizing border-box
      margin-right 0.6rem

      &:last-child {
        margin-right 0
      }

      ul
      li {
        display inline
      }
    }


    .article-create-date {
      display var(--post-create-datetime)

      .mobile {
        display none
      }

      +keep-tablet() {
        .pc {
          display none
        }

        .mobile {
          display inline-block
        }
      }
    }


    .article-update-date {
      display var(--post-update-datetime)

      +keep-tablet() {
        display none
      }
    }


    .article-category {
      .category-item {
        .category-separator {
          margin 0 0.05rem

          i.icon {
            font-size $home-page-font-size * 0.7
          }
        }
      }

      +keep-mobile() {
        display none !important
      }
    }


    .article-tag {
      .tag-item {
        margin-right 0.1rem

        &:last-child {
          margin-right 0
        }

        .tag-separator {
          margin-right 0.1rem

          i.icon {
            font-size $home-page-font-size * 0.7
          }
        }
      }

      +keep-tablet() {
        display none !important
      }
    }


    .article-pv {
      display none
    }
  }


  .home-read-more {
    display flex
    align-items center
    justify-content space-between
    font-size $home-page-font-size

    i.fas {
      color var(--text-color-4)
      font-size $home-page-font-size * 1.1
    }
  }
}
