$temp-img = hexo-config('style.first_screen.background_img')
$first-screen-img = $temp-img ? $temp-img : '/images/bg.svg'

.first-screen-container {
  width 100%
  height 100vh
  overflow hidden
  background url($first-screen-img) center center / cover no-repeat

  if (!(hexo-config('style.first_screen.header_transparent') == true)) {
    background-position-y var(--header-height)

    +keep-tablet() {
      background-position-y calc(var(--header-height) * 0.9)
    }

    +keep-mobile() {
      background-position-y calc(var(--header-height) * 0.8)
    }
  }


  .first-screen-content {
    display flex
    flex-direction column
    align-items center
    justify-content space-between
    width 80%
    height 90%
    padding-top calc(var(--header-height) * 0.5)

    +keep-tablet() {
      padding-top calc(var(--header-height) * 0.5 * 0.9)
    }

    +keep-mobile() {
      padding-top calc(var(--header-height) * 0.5 * 0.8)
    }

    .description {
      color var(--first-screen-font-color-light)
      font-weight bold
      font-size var(--first-screen-font-size)
      line-height 1.8
      text-align center

      .dark-mode & {
        color var(--first-screen-font-color-dark)

        .desc-item {
          color var(--first-screen-font-color-dark)
        }
      }


      .desc-item {
        color var(--first-screen-font-color-light)
      }


      +keep-tablet() {
        font-size calc(var(--first-screen-font-size) * 0.9)
      }
    }


    .bottom-placeholder {
      width 100%

      .sc-icon-list {
        display flex
        justify-content center
        box-sizing border-box
        font-size var(--first-screen-icon-size)


        +keep-tablet() {
          font-size calc(var(--first-screen-icon-size) * 0.9)
        }

        .sc-icon-item {
          margin 0 1rem
          cursor pointer

          i {
            color var(--text-color-3)
          }
        }
      }
    }
  }
}
