.first-screen-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 30px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  background: url("/images/bg.svg") center center / cover no-repeat;
}
