@require '../common/variables.styl'
.footer {

  color: var(--third-text-color);

  a {
    color: var(--third-text-color);

    &:hover {
      color: $primary-color;
    }
  }

  .info-container {
    padding-bottom: 10px;
    text-align: center;
  }

  .info-item {
    margin: 5px 0;
  }

}