.paginator {
  display flex
  justify-content space-between
  margin-top 2.6rem

  a.jump-btn {
    visibility hidden

    &.show {
      visibility visible
    }
  }


  .base-color-size {
    color var(--text-color-3)
    font-size 1rem
  }

  .page-number-box {

    .page-number-input {
      width 2.8rem
      height 82%
      margin 0
      padding 0
      font-weight 400 !important
      line-height 82%
      text-align center
      background none
      border 0.1rem solid var(--border-color)
      border-radius 0.3rem
      outline none
      -webkit-appearance none

      &::-webkit-outer-spin-button
      &::-webkit-inner-spin-button {
        -webkit-appearance none !important
      }

      &:hover
      &:focus {
        border-color var(--primary-color)
      }
    }


    .delimiter {
      margin 0 0.6rem
    }
  }
}



