.paginator {
  margin-top 2rem
  font-size 1rem

  a.prev {
    float left
  }

  a.next {
    float right
  }
}

.page-numbers {
  display: inline-flex
  position: absolute;
  padding: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  text-align: center;
}

.page-number-input {
    max-width: 20px;
    max-height: 20px;
    text-align: center;
    font-weight: bolder;
    color: var(--primary-color);

    border: none;
    box-shadow: 2px 2px 5px var(--shadow-color) inset;
    border-radius: 2px;
}

