$li-border-radius = 0.4rem
$li-margin-bottom = 0.8rem

.post-tools-container {

  .tools-list {

    li {
      display flex
      align-items center
      justify-content center
      width $post-tool-button-width
      height $post-tool-button-width
      margin-bottom $li-margin-bottom
      color var(--default-text-color)
      font-size 1.2rem
      background var(--background-color)
      border-radius 50%
      cursor pointer

      i {
        color var(--default-text-color)
      }

      &:hover {
        color var(--background-color)
        background var(--primary-color)

        i {
          color var(--background-color)
        }
      }


      &:last-child {
        margin-bottom 0
      }


      hover-style(true, 1.06, 1.06)

      &.page-aside-toggle {
        display none

        +keep-tablet() {
          display none !important
        }
      }
    }
  }
}
