$home-page-font-size = 0.92rem
$post-page-font-size = 0.86rem
$meta-icon-interspace = 0.4rem
$meta-item-interspace = 0.7rem


.post-meta-info-container {
  color var(--text-color-4)

  &.post {
    font-size $post-page-font-size

    i.icon
    i.fas {
      font-size $post-page-font-size
    }
  }


  &.home {
    display flex
    align-items center
    justify-content space-between
    font-size $home-page-font-size

    i.icon
    i.fas {
      font-size $home-page-font-size
    }
  }


  a {
    color var(--text-color-4)

    &:hover {
      color var(--primary-color)
    }
  }



  .post-meta-info {
    display flex
    flex-wrap wrap
    justify-content flex-start
    letter-spacing 0.6px

    .meta-info-item {
      display flex
      align-items center
      justify-content flex-start
      box-sizing border-box
      margin-right $meta-item-interspace

      &:last-child {
        margin-right 0
      }

      ul
      li {
        display inline
      }
    }


    .post-create-date {
      display var(--post-create-datetime)
    }


    .post-update-date {
      display var(--post-update-datetime)
    }


    .post-category {
      word-spacing 0

      .category-item {

        i.icon {
          font-size $home-page-font-size * 0.7
        }
      }


      +keep-mobile() {
        display none !important
      }
    }


    .post-tag {
      word-spacing 0

      .tag-item {
        margin-right $meta-icon-interspace * 0.8

        &:last-child {
          margin-right 0
        }

        .tag-separator {
          margin-right $meta-icon-interspace * 0.5

          i.icon {
            font-size $home-page-font-size * 0.92
          }
        }
      }


      +keep-tablet() {
        display none !important
      }
    }


    .post-pv {
      display none
    }
  }


  .home-read-more {
    display flex
    align-items center
    justify-content space-between
    font-size $home-page-font-size

    i.fas {
      color var(--text-color-4)
      font-size $home-page-font-size * 1.1
    }
  }
}
