@require "../common/variables.styl"
@require "../common/magic-theme.styl"

.sidebar {

  width: $sidebar-width;
  box-sizing: border-box;

  .sidebar-container {

    .sidebar-item {
      margin-bottom: $component-interspace;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }
}


.sidebar-post {
  position: fixed;
}

.sidebar-other {
  if (!hexo-config('magic.sidebar.fixed')) {
    position: absolute;
  } else {
    position: fixed;
  }

}