@require "../common/variables.styl"
@require "../common/magic-theme.styl"
.sidebar {
  position: fixed;
  width: $sidebar-width;
  box-sizing: border-box;

  .home-sidebar-container {

    .home-sidebar-item {
      margin-bottom: $component-interspace;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }
}