@require "../common/magic-theme.styl"

.sidebar-tags {

  position relative
  background: var(--background-color);
  magic-container(1.02, 1.02, 20px);

  .tag-label {
    margin-bottom: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid var(--border-color);
  }


  .post-tag-list {

    .post-tag-list-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      .post-tag-list-link {

      }

      .post-tag-list-count {

      }
    }
  }
}
