@require "../common/magic-theme.styl"


.sidebar-category {

  position relative
  background: var(--background-color);
  magic-container(1.02, 1.02, 20px);

  .category-label {
    margin-bottom: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid var(--border-color);
  }

  .post-category-list {

    .post-category-list-item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      a.post-category-list-link {

        &:hover {
          font-weight: 550;
        }

      }

      span.post-category-list-count {

        float: right;

        &::before {
          content: '（';
        }

        &::after {
          content: '）';
        }

      }


      ul.post-category-list-child {

        margin-left: 10px;
        margin-top: 15px;

        li {

          &::before {
            content: '· ';
          }

          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

        }
      }
    }
  }
}
