.site-info-container {
  width: 100%;

  .justify-center {
    display: flex;
    justify-content: center;
  }

  .avatar-box {

    padding: 20px 0;

    .avatar {
      width: 40%;
      //border-radius: 50%;
      border-radius: 5px;
      padding: 2px;
      border: 1px solid var(--border-color);
    }

  }

  .author {
    font-size: 1.6em;
    letter-spacing: 1px;
  }


  .description {
    padding: 20px;
    text-align center
  }



}