@require "../common/magic-theme.styl"


.site-info-container {
  width: 100%;
  box-sizing: border-box;
  background: var(--background-color);

  magic-container(1.02, 1.02, 20px);

  .justify-center {
    display: flex;
    justify-content: center;
  }

  .avatar-box {
    .avatar {
      width: 40%;
      border-radius: 5px;
      padding: 2px;
      border: 1px solid var(--border-color);
    }

  }

  .author {
    font-size: 1.6em;
    letter-spacing: 1px;
    margin: 20px 0;
  }

  .description {
    text-align center
  }
}