.tagcloud-container {

  keep-container(1.005, 1.01, 30px, true);

  .tagcloud-content {

    text-align: justify;
    font-size: 1.2em;

    a {
      padding: 8px 6px;
      display: inline-block;
    }
  }
}
