.tagcloud-container {

  keep-container(false, 0, 0, 30px, 30px);

  .tagcloud-content {

    text-align: justify;
    font-size: 1.2rem;

    a {
      padding: 8px 6px;
      display: inline-block;
    }
  }
}
