.post-toc-wrap {
  position relative
  box-sizing border-box
  width 100%
  height 100%
  overflow-y auto
  font-size 0.92rem

  &::-webkit-scrollbar-thumb {
    background var(--toc-scrollbar-color)
    border-radius 0.3rem
  }

  &::-webkit-scrollbar-track {
    background transparent
  }

  .post-toc {

    ol {
      margin 0
      padding 0 0.1rem 0.8rem 0.6rem
      text-align left
      list-style none

      &:last-child {
        padding-bottom 0
      }

      > ol {
        padding-left 0
      }

      a {
        transition-property all
        transition()
      }
    }


    .nav-item {
      margin-bottom 0.2rem
      overflow hidden
      line-height 1.8
      white-space nowrap
      text-overflow ellipsis
    }


    .nav {
      .nav-child {
        display hexo-config('toc.expand_all') ? block:none
      }

      .active > .nav-child {
        display block
      }

      .active-current > .nav-child {
        display block

        > .nav-item {
          display block
        }
      }


      .nav-number
      .nav-text {
        color var(--toc-text-color)
      }

      .active > a {
        .nav-number
        .nav-text {
          color var(--primary-color)
        }
      }

      .active-current > a {
        .nav-number
        .nav-text {
          color var(--primary-color)
        }
      }
    }
  }
}

