.post-toc-wrap {
  width 100%
  height 100%
  overflow-y auto
  font-size 0.92rem

  &::-webkit-scrollbar-thumb {
    background var(--toc-scrollbar-color)
    border-radius 0.3rem
  }

  &::-webkit-scrollbar-track {
    background transparent
  }

  .post-toc {

    ol {
      position relative
      box-sizing border-box
      margin 0
      text-align left
      list-style none

      a {
        transition-property all
      }
    }


    .nav {

      .nav-item {
        position relative
        box-sizing border-box
        overflow hidden
        line-height 2
        white-space nowrap
        text-overflow ellipsis


        &.active {
          > .nav-child {
            display block
          }
        }


        .nav-link {
          position relative
          box-sizing border-box
          padding-left 0.8rem

          &:hover {
            .nav-number
            .nav-text {
              color var(--primary-color)
            }
          }

          &.active-current {
            > .nav-child {
              display block

              > .nav-item {
                display block
              }
            }


            &::before {
              position absolute
              top 50%
              left 0
              width 0.2rem
              height 1.2rem
              background var(--primary-color)
              border-radius 0.2rem
              transform translateY(-50%)
              content ''
            }

            .nav-number
            .nav-text {
              color var(--primary-color)
            }
          }


          .nav-number
          .nav-text {
            color var(--toc-text-color)
          }
        }


        .nav-child {
          padding-left 1rem


          if (hexo-config('toc') && hexo-config('toc.expand_all') == true) {
            display block
          }
          else {
            display none
          }
        }
      }
    }
  }
}

