.post-toc-wrap {
  box-sizing border-box
  width 100%
  font-size 0.92rem

  .post-toc {

    ol {
      margin 0
      padding 0 2px 12px 10px
      text-align left
      list-style none

      &:last-child {
        padding-bottom 0
      }

      > ol {
        padding-left 0
      }

      a {
        transition-property all
        transition()
      }
    }


    .nav-item {
      overflow hidden
      line-height 1.8
      white-space nowrap
      text-overflow ellipsis
    }


    .nav {
      .nav-child {
        display hexo-config('toc.expand_all') ? block : none
      }

      .active > .nav-child {
        display block
      }

      .active-current > .nav-child {
        display block

        > .nav-item {
          display block
        }
      }


      .nav-number
      .nav-text {
        color var(--default-text-color)
      }

      .active > a {
        .nav-number
        .nav-text {
          color var(--primary-color)
        }
      }

      .active-current > a {
        .nav-number
        .nav-text {
          color var(--primary-color)
        }
      }
    }
  }
}

