@require '../common/variables.styl'

.tools-container {

  .tools-list {
    li {
      cursor: pointer;
      padding: 5px;
      border-radius: 50%;
      border: 1px solid var(--border-color);
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      margin-bottom: 12px;

      &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
      }

      &:last-child {
        margin-bottom: 0;
      }

      i {
        transition: all 0.3s ease;
      }

    }
  }

}