@require '../common/variables.styl'
.valine-container {

  #vcomments {

    .vheader {

      .vinput {

        &:focus {
          border-bottom: 1px solid $primary-color !important;
        }
      }
    }


    .vcontrol {
      .col-20 a {
        display: none;
      }

      .col-80 {
        button.vsubmit {
          background: transparent !important;
          color: var(--normal-text-color); !important;
          border: 1px solid var(--normal-text-color); !important;


          &:hover {
            color: $primary-color !important;
            border: 1px solid $primary-color !important;
          }
        }

      }


    }


    .vlist {
      .vcard {
        .vhead {
          .vnick {

            &::before {
              background: $primary-color !important;
            }
            color: $primary-color;
          }
        }
      }
    }

    .info {
      .txt-right {
        display none
      }
    }
  }


}