html {
  margin: 0
  padding: 0
  background-color: #fff;
  font-smoothing: antialiased;
}

body {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
  font-size: 15px;
  width: 100%;
  margin: 0 auto 30px auto;
  background-color: #fff;
}

ul, li, ol {
  padding: 0;
  margin: 0;
  list-style: none
}

p {
  line-height: 1.9em;
  font-weight: 400;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  opacity: 1;
  transition: all .15s linear;
  color: #424242;
}

a:hover, a:active {
  color: #4786D6;
}

// 按钮样式
a.btn {
  color: #868686;
  font-weight: 400;
}

.btn {
  display: inline-block;
  position: relative;
  outline: 0;
  color: rgba(0, 0, 0, 0.44);
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
}

.btn:hover {
  display: inline-block;
  position: relative;
  outline: 0;
  color: #464545;
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #464545;
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
}

[role="back"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

[role="home"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

[role="navigation"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

[role="tags"] {
  padding: 6px 12px;
}

//  单行代码样式
code {
  padding: 5px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre-wrap;
  border: 1px solid #E3EDF3;
  background: #f7f7f9;
  color: #d14;
  border-radius: 2px;
}

