$left-side-width = 30%
$right-side-width = 70%

.page-container {
  position absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  background: #fff

  .page-left {
    float: left
    width: $left-side-width
    height: 100%
    position: fixed
  }

  .page-right {
    float: right
    width: $right-side-width
    height: 100%
  }

  @media screen and (max-width: 960px) {
    .page-left {
      display none
    }

    .page-right {
      width: 100%
    }
  }

}

