@import "libs/font-awesome.min.css"
@import "basic.styl"
@import "animated.styl"
@import "index.styl"
@import "left-side.styl"
@import "right-side.styl"
@import "common/nav.styl"
@import "common/article-post.styl"

.header {
  .site-title {
    color skyblue
  }

  .site-description {
    color palevioletred
  }

  .site-nav {
    display inline-block

    ul {
      li {
        float: left
        margin 10px 20px
      }
    }

  }
}


.post-container {
  .post-item {
    margin 20px
  }
}

.tag-container, .category-container {
  .tag-item, .category-item {
    margin 30px 20px
    padding 10px
    border 1px solid #ccc
  }
}

.tag-link-item, .category-link-item {
  margin 0 5px
}

.article-title {
  color: lightseagreen
}
.article-content {
  border 2px solid #ccc
  padding 10px
  margin 10px
}
