<div class="comments-container">
    <div id="comment-anchor"></div>
    <% if (theme.comment.valine.enable && theme.comment.gitalk.enable) { %>
        <%- partial('valine') %>
    <% } else if (theme.comment.valine.enable) { %>
        <%- partial('valine') %>
    <% } else if (theme.comment.gitalk.enable) { %>
        <%- partial('gitalk') %>
    <% } %>
</div>
