<%
const { enable: pjax_enable } = theme?.pjax || {}
const {
    disqus_short_name
} = theme?.comment?.disqus || {}

%>
<% if (disqus_short_name) { %>
    <div id="disqus_thread"></div>
    <script>
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://<%= disqus_short_name %>.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    <script id="dsq-count-scr" src="//<%= disqus_short_name %>.disqus.com/count.js" async></script>
<% } else { %>
    <div class="error-tips">Please fill in Disqus complete configuration items.</div>
<% } %>
