<div class="fade-in-down-animation">
    <div class="empty-page-container">

        <% if (
                theme.menu.Links && theme.links && (page.title === 'link' || page.title === 'links')
        ) { %>
            <%- partial('_partial/friends-link') %>
        <% } %>

        <div class="empty-page-content markdown-body">
            <% if (page.content) { %>
                <%- page.content %>
            <% } else { %>
                <h1><%- page.title %></h1>
            <% } %>
        </div>
        <div class="empty-page-comments">
            <% if (page.comment) { %>
                <%- partial('_partial/comment/comment') %>
            <% } %>
        </div>
    </div>
</div>
