<div class="fade-in-down-animation">
    <div class="empty-page-container">
        <div class="empty-page-content markdown-body">
            <%- page.content %>
        </div>
        <div class="empty-page-comments">
            <% if (page.comment) { %>
                <%- partial('_partial/comment/comment') %>
            <% } %>
        </div>
    </div>
</div>
