<header class="header-wrapper">

    <div class="header-content">

        <a class="logo vertical-center" href="/">
            <%= config.title %>
        </a>

        <ul class="menu-list vertical-center">
            <li class="">
                <a href="">HOME</a>
            </li>
            <li class="">
                <a href="/">ARCHIVE</a>
            </li>
            <li class="">
                <a href="/">ABOUT</a>
            </li>
            <li class="">
                <a href=""><i class="fa fa-search"></i></a>
            </li>
        </ul>
        <div class="menu-bar vertical-center">
            <i class="fa fa-bars"></i>
        </div>
    </div>

    <div class="header-drawer">
        <ul class="drawer-menu-list">
            <li class="drawer-menu-item drawer-menu-active">
                <a href="">HOME</a>
            </li>
            <li class="drawer-menu-item">
                <a href="/">ARCHIVE</a>
            </li>
            <li class="drawer-menu-item">
                <a href="/">ABOUT</a>
            </li>
        </ul>
    </div>

    <div class="window-mask"></div>

</header>

