<div class="tools-container">
    <ul class="tools-list">
        <!-- TOC aside toggle -->
        <% if (theme.toc.enable) { %>
            <li class="tools-item page-aside-toggle">
                <i class="fas fa-outdent"></i>
            </li>
        <% } %>

        <!-- go comment -->
        <% if (theme.comment.valine.enable || theme.comment.gitalk.enable) { %>
            <li class="go-comment">
                <i class="fas fa-comment"></i>
            </li>
        <% } %>
    </ul>
</div>
