<div class="progress-bar-container">
    <% if (theme.style.scroll.progress_bar === true) { %>
        <span class="scroll-progress-bar"></span>
    <% } %>

    <% if (theme.pjax.enable === true) { %>
        <span class="pjax-progress-bar"></span>
        <i class="pjax-progress-icon fas fa-circle-notch fa-spin"></i>
    <% } %>
</div>

