<div class="side-tools-container border-box <%= is_home() ? 'side-tools-show-handle' : '' %>">
    <ul class="side-tools-list side-tools-show-handle border-box">
        <li class="tools-item tool-font-adjust-plus flex-center">
            <i class="fas fa-search-plus"></i>
        </li>

        <li class="tools-item tool-font-adjust-minus flex-center">
            <i class="fas fa-search-minus"></i>
        </li>

        <li class="tools-item tool-toggle-theme-mode flex-center">
            <i class="fas fa-moon"></i>
        </li>

        <!-- rss -->
        <% if (theme?.rss?.enable === true && config.feed) { %>
            <li class="tools-item rss flex-center">
                <a class="flex-center"
                   href="<%= '/' + config.feed.path %>"
                   target="_blank"
                >
                    <i class="fas fa-rss"></i>
                </a>
            </li>
        <% } %>

        <li class="tools-item tool-scroll-to-bottom flex-center">
            <i class="fas fa-arrow-down"></i>
        </li>
    </ul>

    <ul class="exposed-tools-list border-box">
        <% if (is_post() && page?.toc !== false && theme?.toc?.enable === true) { %>
            <li class="tools-item toggle-show-toc-tablet flex-center">
                <i class="fas fa-list"></i>
            </li>
        <% } %>

        <% if (is_post() && page?.comment !== false && theme?.comment?.enable === true && theme?.comment?.use) { %>
            <li class="tools-item go-to-comments-tablet flex-center">
                <i class="fas fa-comment"></i>
            </li>
        <% } %>

        <li class="tools-item tool-toggle-show flex-center">
            <i class="fas fa-cog fa-spin"></i>
        </li>

        <li class="tools-item tool-scroll-to-top flex-center show-arrow">
            <i class="arrow fas fa-arrow-up"></i>
            <span class="percent"></span>
        </li>
    </ul>
</div>
