<div class="sidebar-category">
    <div class="category-label">分类</div>
    <ul class="category-list">
        <li class="category-list-item">
            数据库1
            <span class="number">8</span>
        </li>
        <li class="category-list-item">
            数据库2
            <span class="number">12</span>
        </li>
        <li class="category-list-item">
            数据库3
            <span class="number">22</span>
        </li>
        <li class="category-list-item">
            数据库3
            <span class="number">22</span>
        </li>
        <li class="category-list-item">
            数据库3
            <span class="number">22</span>
        </li>
    </ul>
</div>
