<div class="sidebar-tagcloud">
    <div class="tagcloud-label">标签云</div>
    <div class="tagcloud-container">
        <%- tagcloud(site.tags, {
            min_font: 1,
            max_font: 1.5,
            unit: 'em',
            amount: 100
        }) %>
    </div>
</div>
