<% if (is_post()) { %>
    <div class="sidebar sidebar-post fade-in-down-animation">
        <%- partial('sidebar-toc') %>
    </div>
<% } else { %>
    <div class="sidebar sidebar-other fade-in-down-animation">
        <div class="sidebar-container">
            <div class="sidebar-item">
                <%- partial('sidebar-tagcloud') %>
            </div>
            <div class="sidebar-item">
                <%- partial('sidebar-categories') %>
            </div>
        </div>
    </div>
<% } %>