<div class="site-info-container">

    <div class="avatar-box justify-center">
        <%- image_tag('./images/avatar.png', {class: 'avatar'}) %>
    </div>
    <div class="author justify-center">
        <%= config.author %>
    </div>
    <div class="description">
        <%= config.description %>
    </div>

</div>