<% if (site.tags.length){ %>
    <div class="fade-in-down-animation">
        <div class="tagcloud-container">
            <div class="tagcloud-content">
                <%- list_tags({
                    show_count: true,
                    style: false,
                    separator: ''
                }) %>
            </div>
        </div>
    </div>
<% } %>
