<% if (site.tags.length){ %>
    <div class="fade-in-down-animation">
        <div class="tagcloud-container">
            <div class="tagcloud-content">
                <%- tagcloud({
                    min_font: 0.98,
                    max_font: 1.50,
                    unit: 'em',
                    amount: 100
                }) %>
            </div>
        </div>
    </div>
<% } %>
