<div class="post-toc-wrap">
    <div class="post-toc">
        <%- toc(
                page.content,
                {
                    class: 'nav',
                    list_number: theme.toc.number
                }
        ) %>
    </div>
</div>