.archive-container {

  .archives-wrap {
    margin-bottom 20px

    .archive-year {
      font-size: 24px;
      color: #666;
      font-weight: 600;
    }

    .archive-article-list {

      .archive-article-item {
        margin 10px 0
        font-size 16px

        a.archive-article-title {
          color #8f8f8f

          &:hover {
            color: #4786D6;
          }
        }

        .archive-article-date {
          float right
        }
      }
    }
  }
}


