@import "variables.styl"

:root {
  // ==============================================================================================
  // global font
  // ==============================================================================================
  --base-font-size 15.2px
  --base-line-height 22px
  --base-font-weight 400
  --base-font-family Optima-Regular, Optima, PingFang SC, Microsoft YaHei, sans-serif


  // ==============================================================================================
  // box style
  // ==============================================================================================
  --box-border-radius 8px


  // ==============================================================================================
  // header
  // ==============================================================================================
  --header-height 70px
  --header-shrink-height calc(var(--header-height) * 0.72)


  // ==============================================================================================
  // first screen
  // ==============================================================================================
  --first-screen-font-size 2rem
  --first-screen-icon-size 1.8rem
  --first-screen-font-color-light $text-color-3
  --first-screen-font-color-dark $dark-text-color-3


  // ==============================================================================================
  // home page
  // ==============================================================================================
  --home-post-hover-scale 1


  // ==============================================================================================
  // post page
  // ==============================================================================================
  --post-author-avatar block      // Option values: none | block
  --post-create-datetime flex     // Option values: none | flex
  --post-update-datetime flex     // Option values: none | flex
}
