keep-container(sValue, pValue, mbValue) {
  box-sizing border-box
  margin-bottom mbValue
  padding pValue
  background var(--content-background-color)
  border-radius var(--box-border-radius)
  box-shadow 2px 2px 5px var(--shadow-color)

  if (sValue != 1) {
    transition-t("transform", "0", "0.2", "linear")
  }

  &:hover {
    if (sValue != 1) {
      transform scale(sValue)
    }
    box-shadow 2px 2px 8px var(--shadow-hover-color)
  }

  +keep-tablet() {
    margin-bottom mbValue * 0.8
    padding pValue * 0.8
    border-radius calc(var(--box-border-radius) * 0.8)
  }


  +keep-mobile() {
    margin-bottom mbValue * 0.6
    padding pValue * 0.6
    border-radius calc(var(--box-border-radius) * 0.6)
  }
}



disable-user-select() {
  -moz-user-select none
  -ms-user-select none
  -webkit-user-select none
  user-select none
}


not-text-size-adjust() {
  -ms-text-size-adjust none
  -moz-text-size-adjust none
  -webkit-text-size-adjust none
}


