.site-info {

  text-align: center;

  .avatar {
    padding 2px
    border-radius 50%
    border 1px solid #ddd
    width: 150px;
  }


  .title {
    margin 5px 0;
    text-transform: uppercase;

    a {
      color: #464646;
      font-size: 30px;
      font-weight: bold;
    }
  }


  .description {
    padding 5px
    font-size: 16px;
    color: #565654;
  }


}