<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
<script src="//cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<div id="aplayer"></div>
<script>
    const ap = new APlayer({
        container: document.querySelector('#aplayer'),
        fixed: true,
        mini: true,
        audio: [
            {
                name: '<%= theme.music_player.audio.name %>',
                url: '<%= theme.music_player.audio.url %>',
                cover: '<%= theme.style.avatar %>'
            }
        ]
    });
</script>
