.keep-button {
  &.color-primary {
    color var(--note-primary-color)
    background-color var(--note-primary-background-color)

    &:hover {
      color #fff
      background-color var(--note-primary-color)
    }
  }


  &.color-success {
    color var(--note-success-color)
    background-color var(--note-success-background-color)

    &:hover {
      color #fff
      background-color var(--note-success-color)
    }
  }


  &.color-warning {
    color var(--note-warning-color)
    background-color var(--note-warning-background-color)

    &:hover {
      color #fff
      background-color var(--note-warning-color)
    }
  }


  &.color-danger {
    color var(--note-danger-color)
    background-color var(--note-danger-background-color)

    &:hover {
      color #fff
      background-color var(--note-danger-color)
    }
  }
}
