.keep-note {
  position relative
  box-sizing border-box
  width 100%
  margin-bottom 2rem
  padding 0.8rem 1rem
  font-size 0.9rem
  border-style solid
  border-width 0.1rem
  border-radius 0.4rem

  &.default {
    color var(--note-default-color)
    background-color var(--note-default-background-color)
    border-color var(--note-default-border-color)
  }


  &.primary {
    color var(--note-primary-color)
    background-color var(--note-primary-background-color)
    border-color var(--note-primary-border-color)
  }


  &.success {
    color var(--note-success-color)
    background-color var(--note-success-background-color)
    border-color var(--note-success-border-color)
  }


  &.warning {
    color var(--note-warning-color)
    background-color var(--note-warning-background-color)
    border-color var(--note-warning-border-color)
  }


  &.danger {
    color var(--note-danger-color)
    background-color var(--note-danger-background-color)
    border-color var(--note-danger-border-color)
  }


  .keep-note-title {
    box-sizing border-box
    padding 0.6rem 0 0 0
    color inherit
    font-weight 600
    font-size 1rem
  }


  p {
    color inherit
  }
}
