<div class="left-side-container">
    <div class="site-info-container">
        <%- partial('site-info') %>
    </div>
    <div class="footer-container">
        <%- partial('footer') %>
    </div>
</div>