<nav class="nav">
    <button class="fold-left-side-btn">
        <i class="fa fa-bars"></i>
    </button>
    <ul class="menu-list">
        <% for (let i in theme.menu) { %>
            <li class="menu-item">
                <a class="<%- isInHomePaging(page.path, theme.menu[i]) ? 'current' : is_current(theme.menu[i]) ? 'current' : '' %>"
                   href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a>
            </li>
        <% } %>
    </ul>
    <% if (theme.local_search.enable) { %>
        <button class="search-btn btn popup-trigger"><i class="fa fa-search"></i></button>
        <%- next_js('local-search.js') %>
    <% } %>
</nav>