<!-- 分页器 -->
<!-- https://hexo.io/zh-cn/docs/helpers#paginator -->
<div class="paginator">
    <%- paginator({
        prev_text: __('prev'),
        next_text: __('next'),
        escape: false
    }) %>
</div>