<script src='https://unpkg.com/valine@1.3.10/dist/Valine.min.js'></script>
<div id="valine"></div>
<script>
    new Valine({
        el: '#valine',
        appId: 'XXX',
        appKey: 'XXX',
        notify: true,
        verify: false,
        placeholder: '评论一下再走吧'
    })
</script>