if (hexo-config('comment.valine.enable')) {
  @require "./valine.styl";
}

if (hexo-config('comment.gitalk.enable')) {
  @require "./gitalk.styl";
}

if (hexo-config('comment.valine.enable') && hexo-config('comment.gitalk.enable')) {
  @require "./valine.styl";
}

.comments-container {
  display: inline-block;
  margin-top: $component-interspace;
  width: 100%;

  #comment-anchor {
    width: 100%;
    height: 10px;
  }
}
