if (hexo-config('comment') && hexo-config('comment.enable') == true && hexo-config('comment.use') != "") {
  if (hexo-config('comment.use') == "valine") {
    @import "./valine.styl"
  }
  else if (hexo-config('comment.use') == "gitalk") {
    @import "./gitalk.styl"
  }
  else if (hexo-config('comment.use') == "twikoo") {
    @import "./twikoo.styl"
  }
  else if (hexo-config('comment.use') == "waline") {
    @import "./waline.styl"
  }
}

.comments-container {
  display inline-block
  width 100%
  margin-top $component-spacing-value

  .comment-area-title {
    width 100%
    color var(--text-color-3)
    font-size 1.38rem
    line-height 2

    i {
      color var(--text-color-3)
    }

    +keep-tablet() {
      font-size 1.2rem
    }
  }


  .error-tips {
    margin-top 1rem
    color var(--text-color-3)
    font-size 1rem
  }
}
