.twikoo-container {

  #twikoo {

    .actions {

      .OwO {

        .OwO-body {
          color: var(--defauly-color);
          background-color: var(--background-color);
        }
      }
    }

    .tk-main {

      .tk-meta {

        .tk-tag {

          &.tk-tag-green {
            background: -webkit-linear-gradient(45deg, #e3565e, #ee854b, #f6c258, #90c68a, #5fb3b3, #6699cc, #c594c5);
            background: linear-gradient(45deg, #e3565e, #ee854b, #f6c258, #90c68a, #5fb3b3, #6699cc, #c594c5);
            color: #fff;
            border none;
            border-radius: 5px;
          }

        }

      }

    }


  }


}
