.twikoo-container {

  #twikoo {

    .tk-meta-input {
      .el-input {
        .el-input-group__prepend {
          color var(--text-color-3)
        }

        input {
          color var(--text-color-3)
        }
      }
    }


    .tk-input {
      textarea {
        color var(--text-color-3)
      }
    }



    .actions {

      .tk-row-actions-start {

        .tk-submit-action-icon {

          svg {
            path {
              fill var(--text-color-3)
              transition-t("fill", "0", "0.2", "ease")
            }
          }

          .OwO-body {
            color var(--text-color-3)
            background-color var(--background-color-1)
          }
        }
      }

      .tk-preview {
        span {
          color var(--text-color-3)
          background var(--background-color-2)
        }
      }
    }


    .tk-preview-container {
      color var(--text-color-3)
    }


    .tk-comments-container {
      .tk-comments-count {
        span {
          color var(--text-color-3)
        }
      }
    }


    .tk-main {
      margin-bottom 1.4rem

      .tk-meta {

        .tk-nick {
          color var(--text-color-3)
        }

        strong {
          color var(--text-color-3)
        }


        .tk-tag {

          &.tk-tag-green {
            color #fff
            background -webkit-linear-gradient(45deg, #e3565e, #ee854b, #f6c258, #90c68a, #5fb3b3, #6699cc, #c594c5)
            background linear-gradient(45deg, #e3565e, #ee854b, #f6c258, #90c68a, #5fb3b3, #6699cc, #c594c5)
            border none
            border-radius 0.4rem
          }
        }


        .tk-time {
          time {
            color var(--text-color-4)
          }
        }
      }


      .tk-content {
        color var(--text-color-3)

        span {
          color var(--text-color-3)
        }

        p {
          color var(--text-color-3)
        }
      }

      .tk-expand {
        color var(--text-color-4)
      }
    }
  }
}
