.valine-container {

  #vcomments {

    .vwrap {

      border 0.1rem solid var(--text-color-4)

      .vheader {

        .vinput {

          color var(--text-color-3)
          border-color var(--text-color-4)

          &:focus {
            border-bottom 0.1rem dashed var(--primary-color) !important
          }
        }
      }


      .vedit {

        .veditor {
          color var(--text-color-3)
        }

        .vctrl {

          .vicon {

            fill var(--text-color-3)

            &.actived {
              fill var(--primary-color)
            }
          }
        }
      }


      button.vsubmit {
        color var(--text-color-3) !important
        background transparent !important
        border 0.1rem solid var(--text-color-3) !important

        &:hover {
          color var(--primary-color) !important
          border 0.1rem solid var(--primary-color) !important
        }
      }
    }


    .vcount {
      color var(--text-color-3)

      .vnum {
        color var(--text-color-2)
      }
    }


    .vcard {

      .vnick {
        .author {
          margin-left 0.15rem
          padding 0.15rem
          color #fff
          font-weight 450
          font-size 0.9rem
          background -webkit-linear-gradient(45deg, #e3565e, #ee854b, #f6c258, #90c68a, #5fb3b3, #6699cc, #c594c5)
          background linear-gradient(45deg, #e3565e, #ee854b, #f6c258, #90c68a, #5fb3b3, #6699cc, #c594c5)
          border-radius 0.15rem
        }
      }


      .vhead {

        .vnick {
          color var(--primary-color)
        }

        .vsys {
          color var(--text-color-3)
          background var(--background-color-2) !important
        }
      }


      .vcontent {
        P {
          color var(--text-color-3)

          code {
            color var(--code-foreground)
            background var(--code-background)
          }
        }
      }


      .vh {
        border-bottom-color var(--border-color)
      }

      .vquote {
        border-left-color var(--border-color)
      }
    }


    .vcopy {
      color var(--text-color-4)
    }


    .vpage {

      .vmore {
        color var(--text-color-2)
        border 0.1rem solid var(--border-color)
      }
    }
  }
}
