@require '../variables.styl'

$article-meta-info-color = #aaa;
$article-meta-info-font-size = 12px;

.article-meta-info {

  color: $article-meta-info-color;
  font-size: $article-meta-info-font-size;

  .article-meta-item {
    margin-right: 10px;
  }

  .article-tags, .article-categories {
    display: inline;

    ul, li {
      display: inline;
    }

    a {
      color: $article-meta-info-color;

      &:hover {
        color: $a-hover-color;
      }
    }
  }
}