@require '../variables.styl'

$description-font-size = 16px

.site-info {

  text-align: center;

  .avatar {
    padding: 2px;
    border-radius: 5%;
    border: 1px solid $border-color;
    width: 130px;
  }

  .title {
    margin: 5px 0;
    text-transform: uppercase;

    a {
      color: $logo-title-color;
      font-size: 30px;
      font-weight: bold;
    }
  }

  .description {
    padding 5px
    font-size: $description-font-size;
  }

}