@require '../variables.styl'

$logo-title-font-size = 28px
$description-font-size = 16px

.site-info {
  padding 20px
  text-align: center;

  .info-item {
    margin: 5px 0;
  }

  .avatar {
    padding: 2px;
    border-radius: 5%;
    border: 1px solid $border-color;
    width: 120px;
  }


  .title {
    text-transform: uppercase;

    a {
      color: $logo-title-color;
      font-size: $logo-title-font-size;
      font-weight: bold;
    }
  }


  .description {
    padding: 10px;
    font-size: $description-font-size;
  }


  .links-of-author-warp {

    ul.links-of-author-list {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      li.links-of-author-item {
        float: left
        margin 0 5px
      }
    }

  }


  .cc-license-container {

    .cc-opacity {
      position: absolute;
      left: 50%;
      transform: translateX(-55%);
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }

}