@require '../variables.styl'

$logo-title-font-size = 28px
$description-font-size = 16px

.site-info {

  text-align: center;

  .avatar {
    padding: 2px;
    border-radius: 5%;
    border: 1px solid $border-color;
    width: 120px;
  }

  .title {
    margin: 5px 0;
    text-transform: uppercase;

    a {
      color: $logo-title-color;
      font-size: $logo-title-font-size;
      font-weight: bold;
    }
  }

  .description {
    padding 5px
    font-size: $description-font-size;
  }

}