// ==================================
// ils-x variables
// ==================================

// 头部默认高度
$header-height = 100px

// 头部收缩高度
$header-shrink-height = 60px

// 中间内容区域宽度
$main-content-width = 70%

// z-index
$z-index-1 = 1001
$z-index-2 = 1002
$z-index-3 = 1003
$z-index-4 = 1004
$z-index-5 = 1005

// 主题颜色
$primary-color = #ce3e29

// 第一文本颜色
$first-text-color = #2c3e50

// 第二文本颜色
$second-text-color = #525e6b

// 第三文本颜色
$third-text-color = #9ca3ad

// 通用文本颜色（默认字体颜色）
$normal-text-color = #616161

// 背景颜色
$background-color = #fff

// 边框颜色
$border-color = #ccc

// 默认字体样式
//$default-font-family = 'PingHei', 'PingFang SC', 'Microsoft YaHei'
$default-font-family = "Exo 2", "Trebuchet MS", "Helvetica", "Arial", 'PingFang SC', 'Hiragino Sans GB', 'STHeiti Light', 'Microsoft YaHei', 'SimHei', 'WenQuanYi Micro Hei', sans-serif

// 默认字体大小
$default-font-size = 14px

// 默认字体行高
$default-font-line-height = 20px

// 默认字体加粗程度
$default-font-weight = 400